.Main {
    text-align: center;
  }

.Intro {
    text-align: center;
}

.About {
    text-align: center;
}

.Topics {
    text-align: center;
}


.graph {
    text-align: center;
    
}
.graph img{
    display:block;
    margin:0 auto;
    width:600px;
}


.Topics img{
    width:700px;
}