{% extends "layout.html" %}

{% block body %}
    <div class = "Intro">
        <h1>Sentwi</h1> 
        <p><a href="https://github.com/Hoang23/Sentwi">Follow the development here</a></p>
    </div>
            <br> <br> 

    <div class = "Main">
    Enter a hashtag
        
        
        <form action="/inputCalculation" method="POST"> 
            <input name="hashtag" autofocus placeholder = "#pizza" type = "text">
            <input type="submit", value = "Calculate">
        </form>
        
        <br>

        <p> 
            Please wait a minute for the sentiment analysis. It may take a while depending on the query. Try a different query if so.
        </p>
    </div>
    

    <span>{{Message}}</span>
    <br>

    <div class = "About">
    <h3>About</h3>
    Looking to get informed on the sentiment of a particular topic? <br>
    Sentwi filters tweets by hashtags to computationally discover the trending sentiment of a topic using Natural Language Processing. <br>
    It uses NLTK's VADER, a lexicon rule-based approach that takes in consideration both polarity/sentiment through positive and negative words and its strength. 
    </div>



{% endblock %}